fieldset {
    padding: 0.5rem;
}

form button {
    background-color: #2c74e2;
    max-width: 20%;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 0;

}

form input,
form textarea {
    outline: 0;
    border: 1px solid #000;
    padding: 0.1%;
}

form button:hover {
    background-color: rgb(33, 85, 163);
}

form button span {
    width: 100%;
    padding: 5%;
    color: white;
}

form input[type="file"] {
    border: 0;
}
